body {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

#tweet-button {
    margin-top: 10px;
    border-radius: 50px;
    width: 100%;
    font-size: 12px;
}

.list-group-item button {
    border-radius: 25px;
    width: 100%;
}

.search {
    position: relative;
}

.search input {
    border-radius: 30px;
    text-indent: 30px;
    border: 2px solid lightgrey;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search {
    position: absolute;
    top: 11px;
    left:25px;
}

.navigation-tabs {
    padding-top: 12px;
    padding-bottom: 12px;
}

.image-text {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
}

.text-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 12px;
    font-weight: bold;
    font-size: 30px;
}

.card-post-image {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    object-fit: cover;
}

.right-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}